<template>

  <div class="cart">
    <Table
      :data="products"
      empty-text="Вы пока не добавлии продуктов.."
    >
      <TableColumn
        prop="product.translation.N"
        label="Название"
      />
      <TableColumn
        prop="count"
        label="Количество"
      >
        <template slot-scope="scope">
          <div class="cart__count">
            <ElInput
              class="cart__count-input"
              placeholder="Шт."
              @input="updateProductCount(scope.row.product, $event)"
              :value="formatProductCount(scope.row)"
            />
            <span class="cart__count-label">
              шт.
            </span>
          </div>
        </template>
      </TableColumn>
      <TableColumn
        prop="product.C"
        label="Цена"
        :class-name="priceClass"
      >
        <template slot-scope="scope">
          {{ productPrice(scope.row) }}₽ / шт.
        </template>
      </TableColumn>
      <TableColumn>
        <template slot-scope="scope">
          <ElButton
            type="warning"
            @click="removeProduct(scope.row)"
          >
            Удалить
          </ElButton>
        </template>
      </TableColumn>
    </Table>
    <div class="cart__summary">
      Общая стоимость: <span class="cart__summary-price">{{ summaryPrice }} руб</span>
    </div>
  </div>
</template>
<script>
  import { Table, TableColumn, Button as ElButton, Input as ElInput  } from 'element-ui';
  import { mapGetters } from 'vuex';

  export default {
    components: {
      Table,
      TableColumn,
      ElButton,
      ElInput
    },
    computed: {
      ...mapGetters('cart', ['products']),
      ...mapGetters('currencies', ['usdRubRate', 'rates']),

      summaryPrice() {
        return this.products.reduce((summary, item) => {
          return (summary + this.CurrencyConverter().UsdToRub(item.product.C) * item.count).toFixed(2)
        }, 0)
      }
    },
    data() {
      return {
        priceClass: 'tk'
      }
    },
    methods: {
      removeProduct(item) {
        this.$store.commit('cart/REMOVE_PRODUCT', item)
      },
      productPrice(item) {
        return (this.CurrencyConverter().UsdToRub(item.product.C)).toFixed(2);
      },
      updateProductCount(product, count) {
        count = parseInt(count)
        if(isNaN(count)) count = 0;

        this.$store.commit('cart/SET_PRODUCT_COUNT', { product, count })
      },
      formatProductCount(item) {
        return item.count === 0 ? '' : item.count
      }
    },
    watch: {
      usdRubRate(val, old) {
        this.priceClass = ''
        this.priceClass = val > old ? 'blink-red' : 'blink-green'
      }
    }
  }
</script>
<style lang="scss">
  .cart {
    &__count {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-input {
        width: 100px;
      }

      &-label {
        font-size: 18px;
        margin-left: 5px;
      }
    }

    &__summary {
      margin: 20px 0;
      float: right;
      font-size: 20px;

      &-price {
        color: orange;
      }
    }
  }

  @keyframes green-to-white {
    from {
      background-color: rgba(50,250,50,0.5);
    }
    to {
      background-color: #ffffff;
    }
  }

  @keyframes red-to-white {
    from {
      background-color: rgba(250,50,50,0.5);
    }
    to {
      background-color: #ffffff;
    }
  }

  .blink-green {
    animation: green-to-white 2s;
  }

  .blink-red {
    animation: red-to-white 2s;
  }

  .price {
    background-color: white;
  }

</style>
