<template>
  <div>
    <Row>
      <ElCol
        :span="21"
        :offset="1"
      >
        <Card class="box-card">
          <template #header>
            Список продуктов
          </template>
          <Row>
            <ElCol
              v-for="(group,index) in groupedProducts"
              :key="index"
              :span="5"
              :offset="1"
            >
              <ProductsList
                :name="group.name"
                :list="group.products"
              />
            </ElCol>
          </Row>
        </Card>
      </ElCol>
      <ElCol
        :span="20"
        :offset="2"
      >
        <Card class="box-card mt-20">
          <template #header>
            Корзина
          </template>
          <Cart/>
        </Card>
      </ElCol>
    </Row>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import ProductsList from '@/components/ProductsList';
  import Cart from '@/components/Cart';
  import { Row, Col as ElCol, Card } from 'element-ui'


  export default {
    components: {
      ProductsList,
      Cart,
      Row,
      ElCol,
      Card
    },
    computed: {
      ...mapGetters('products', ['products', 'groupedProducts'])
    },

    async created() {
      await this.$store.dispatch('products/loadProducts')
      await this.$store.dispatch('products/loadTranslations')

      setInterval(() => this.$store.dispatch('products/loadProducts'), 5000)
    }
  };
</script>
<style>
  .mt-20 {
    margin-top: 20px;
  }
</style>
