<template>
  <div>
    <Collapse
      v-model="c"
    >
      <CollapseItem
        :title="name"
        name="kek"
      >
        <Table
          :data="list"
        >
          <TableColumn
            prop="translation.N"
            label="Название"
          />
          <TableColumn
            prop="C"
            label="Цена"
            width="100"
          />
          <TableColumn
              label=""
          >
            <template slot-scope="scope">
              <ElButton
                size="mini"
                type="success"
                title="Add to cart"
                @click="addToCart(scope.row)"
              >+</ElButton>
            </template>
          </TableColumn>
        </Table>
      </CollapseItem>
    </Collapse>
  </div>
</template>
<script>
  import { Table, TableColumn, Collapse, CollapseItem, Button as ElButton } from 'element-ui'

  export default {
    components: {
      Table,
      TableColumn,
      Collapse,
      CollapseItem,
      ElButton
    },
    props: {
      name: {
        type: String,
        default: () => ''
      },
      list: {
        type: Array,
        default: () => []
      }
    },
    data() {
      return {
        c: ['kek']
      }
    },
    methods: {
      addToCart(product, count = 1) {
        this.$store.commit('cart/ADD_PRODUCT', { product, count })
      }
    }
  }
</script>
