<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script>
  export default {
    async created() {
      await this.init();

      setInterval(() => this.init(), 15000)
    },
    methods: {
      async init() {
        return this.$store.dispatch('currencies/fetchRates')
      }
    }
  }
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
